@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242242] rounded-full uppercase text-sm
    tracking-widest text-gray-500 transition-all hover:border-[#F7AB01]/40 hover:text-[#F7AB01]/40;
  }
}